# docker-compose.yaml

version: '3.8'
services: 

  main:
    image: osixia/phpldapadmin:0.9.0
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ ssl_cert_dir }}/:/etc/ssl/certs/
      - {{ config_dir }}/certs/:/container/service/ldap-client/assets/certs
    environment:
      PHPLDAPADMIN_HTTPS: 'false'
      PHPLDAPADMIN_LDAP_CLIENT_TLS: 'true'
      PHPLDAPADMIN_LDAP_CLIENT_TLS_REQCERT: demand
      PHPLDAPADMIN_LDAP_CLIENT_TLS_CA_CRT_FILENAME: custom_ca.crt
      #PHPLDAPADMIN_LDAP_CLIENT_TLS_CRT_FILENAME: custom_ldap.crt
      #PHPLDAPADMIN_LDAP_CLIENT_TLS_KEY_FILENAME: custom_ldap.key
      PHPLDAPADMIN_LDAP_HOSTS: "#PYTHON2BASH:[{'{{ domain }}': [{'server': [{'tls': True}, {'port': 389}]}, {'login': [{'bind_id': 'cn=admin,dc=diesel,dc=net'}, {'bind_pass': '{{ admin_password }}'}]}, {'auto_number': [{'min': [1000, 500] }]}]}]"
    command: >
      --loglevel debug
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ git_repository }}.loadbalancer.server.port=80
        - traefik.http.routers.{{ git_repository }}.rule=Host(`{{ domain }}`)
        - traefik.http.routers.{{ git_repository }}.tls.certresolver=step-ca
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
